/* Will be compiled down to a single stylesheet with your sass files */

/* styling correction for UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    margin: 0;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #333333;
    background-color: #f5f5f5;
    padding-top: 90px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}

.pagination.sensor {
    margin: 0;
}

input.ng-invalid {
    border-color: #B94A48;
}

input:focus.ng-invalid {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}

.error {
    color: #B94A48;
}

textarea#progressLog {
    font-family: monospace;
    font-size: 12px;
    width: 97%;
    height: 240px;
    cursor: auto;
    background-color: #ffffff;
}

textarea#syslog {
    font-family: monospace;
    font-size: 12px;
    width: 100%;
    height: 640px;
    cursor: auto;
    background-color: #ffffff;
}

textarea#mqtt {
    font-family: monospace;
    font-size: 12px;
    width: 100%;
    height: 640px;
    cursor: auto;
    background-color: #ffffff;
}

span.label {
    float: right;
}

form[name="servicesForm"] .control-label {
    padding-right: 20px;
    width: 250px;
}

.myGrid {
    width: 100%;
    height: 640px;
}

button.kube {
    margin: 24px 8px 0px 0px;
}
