<div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="row">
    <div class="span4" id="port-1">
        <h4 class="port">port 1</h4>
        <div class="row">
            <div class="span2" id="gauge-1-2"></div>
            <div class="span2" id="gauge-1-1"></div>
            <div class="span2" id="gauge-1-4"></div>
            <div class="span2" id="gauge-1-3"></div>
            <div class="span2" id="gauge-1-5"></div>
            <div class="span2" id="gauge-1-6"></div>
            <div class="span2" id="gauge-1-7"></div>
            <div class="span2" id="gauge-1-8"></div>
            <div class="span2" id="gauge-1-9"></div>
            <div class="span2" id="gauge-1-11"></div>
        </div>
    </div>
    <div class="span4" id="port-2">
        <h4 class="port">port 2</h4>
        <div class="row">
            <div class="span2" id="gauge-2-2"></div>
            <div class="span2" id="gauge-2-1"></div>
            <div class="span2" id="gauge-2-4"></div>
            <div class="span2" id="gauge-2-3"></div>
            <div class="span2" id="gauge-2-5"></div>
            <div class="span2" id="gauge-2-6"></div>
            <div class="span2" id="gauge-2-7"></div>
            <div class="span2" id="gauge-2-8"></div>
            <div class="span2" id="gauge-2-9"></div>
            <div class="span2" id="gauge-2-11"></div>
        </div>
    </div>
    <div class="span4" id="port-3">
        <h4 class="port">port 3</h4>
        <div class="row">
            <div class="span2" id="gauge-3-2"></div>
            <div class="span2" id="gauge-3-1"></div>
            <div class="span2" id="gauge-3-4"></div>
            <div class="span2" id="gauge-3-3"></div>
            <div class="span2" id="gauge-3-5"></div>
            <div class="span2" id="gauge-3-6"></div>
            <div class="span2" id="gauge-3-7"></div>
            <div class="span2" id="gauge-3-8"></div>
            <div class="span2" id="gauge-3-9"></div>
            <div class="span2" id="gauge-3-11"></div>
        </div>
    </div>
</div>
