<div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="grid" id="kube" ui-grid="kube" ui-grid-edit ui-grid-row-edit ui-grid-selection></div>
<button class="btn btn-success kube" ng-click="pair()" ng-disabled="disabled()">Pair</button>
<button class="btn btn-success kube" ng-click="sensors()" ng-disabled="disabled()">Sensors</button>
<button class="btn btn-danger kube" ng-click="deprovision()" ng-disabled="disabled()">Deprovision</button>

<div ng-show="debug">
    <p>{{kube}}</p>
</div>
